#externalSystemContainer {
    background-color: #f6f6f6;
    color:#555555;
    height: 64px;
    border-bottom: 1px solid darkgrey;
    padding-top: 5px;
    
}
body {    
    margin: 0 !important;
    padding: 0 !important;
}
#messageBox{
    padding: 5px 0 5px 20px;
    height: 30px;
    opacity:0;
    position: relative;
    z-index: 1;
}
#stripoSettingsContainer {
    width: 400px;
    float: left;
}
#stripoPreviewContainer {
    width: calc(100% - 400px);
    float: left;
}
.control-button {
    border-radius: 17px;
    padding: 5px 10px;
    
}

#overlay{
    position:fixed;
    z-index:99999;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0,0,0,0.9);
    transition: 1s 0.4s;
  }

#loaderonrequest{
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}

#loaderonrequest.display{
    visibility: visible;
}
/*
Css added as part of Tavem-825
*/
.tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  #col-1 {
    position: relative;
    width: 10%;
    float: left;
  }
  #col-logo {
    
    width: 10%;
    float: left;
  }
  #col-5per {
    
    width: 10px;
    
  }
  #col-2 {
    margin-top: 8px;
   
    position: relative;
    width: 20%;
    float: left;
    
  }
  #col-3 {
    position: relative;
    width: 20%;
    float: left;
    
  }
  #col-4 {
   
    width: 20%;
    float: right;
    
    
  }
  .unstyled-button {
    border: none;
    padding: 0;
    width: 40px;
    margin-top: 5px;
   
  }
  .btn:hover {
  transition: all .2s ease-in-out;
  background: darkgray;
  
  }  
  .btn-success {
    margin-top: 5px;
    color: #fff;
    background-color:#32cb4b;
    border-color:#2db743;
}
.btn-group button { 
    margin-top: 7px;
    float: left; 
    border-bottom-left-radius: 5px;
    background-color: white;
    border: 1px solid darkgrey;
    
  }
  .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 5;
    border-top-left-radius: 5;
}
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  .esd-extension-dnd-structure
  {
    background-color: skyblue !important;
    
  }
 
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}